@keyframes float {
  from {
    bottom: 20px;
  }
  to {
    bottom: 30px;
  }
}

body {
  background: white;
  color: black;
  font-family: Palanquin, sans-serif;
  padding: 2rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  overflow-y: scroll;
}

.float-ballon:hover {
  font-weight: bold;
  /* animation-name: float;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out; */
}

nav p {
  position: fixed;
  left: 30px;
  top: -20px;
  font-size: 25px;
}

nav p a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

li {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

small {
  font-size: 12px;
}

a {
  color: black;
}

pre code {
  font-size: 14px;
  border-radius: 10px;
}

hr {
  border-top: dotted 1px;
}

ul ul li {
  font-size: 13px;
}

ul ul li a {
  text-decoration: none;
}

ul ul li a:hover {
  text-decoration: underline;
}

table {
  border: 1px solid white;
  padding: 5px;
  border-radius: 10px;
}

tr {
  border: 1px solid white;
}

th {
  padding: 5px;
}

td { 
  border-top: 1px solid white;
  font-size: 13px;
  padding: 10px;
}

footer {
  margin-top: 20px;
}

img {
  border-radius: 10px;
}

.code {
  background-color: black; 
  color: #76FF03; 
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
}

.badge {
  background-color: #EEEEEE;
  color: black;
  padding: 5px;
  font-size: 12px;
  margin-left: 10px;
  border-radius: 5px;
}

.tip {
  border-left: 4px solid black; 
  border-radius: 3px; 
  padding-left: 20px;
}

.theme-toggle-dark {
  font-family: Palanquin;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  
}

.theme-toggle-dark:hover {
  animation-name: float;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.theme-toggle-light {
  font-family: Palanquin;
  border-radius: 25px;
  color: black;
  cursor: pointer;
}

.theme-toggle-light:hover {
  animation-name: float;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}